[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pdfminer.six" = "*"
pdfminer = "*"
pypdf2 = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
